* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #f6f7fc;
}

tooltip {
  background: #e7e7ec;
  opacity: 0.8;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #11111b;
}

tooltip label {
  color: #2b2b2c;
}

#workspaces button {
  padding: 0 5px;
  color: #f6f7fc;
  margin-right: 5px;
}

#workspaces button.active {
  color: #ffa;
}

#workspaces button:hover {
  background: #11111b;
}

#custom-launch_wofi,
#custom-launch_firefox,
#custom-launch_thunderbird,
#custom-launch_thunar,
#custom-launch_kitty,
#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#custom-myhyprv,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#idle_inhibitor,
#language,
#backlight {
  background: rgba(21, 18, 27, 1);
  opacity: 0.8;
  padding: 0px 11px;
  /* margin: 0px 3px; */
  border: 0px;
}

#workspaces,
#clock {
  border-radius: 0 5px 5px 0;
}

#cpu,
#idle_inhibitor {
  border-radius: 5px 0 0 5px;
}

#temperature.critical {
  color: #e92d4d;
}


#workspaces {
  padding-right: 0px;
  padding-left: 5px;
}

#window {
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

#custom-launch_firefox,
#custom-launch_thunderbird,
#custom-launch_thunar,
#custom-launch_wofi,
#custom-launch_kitty,
#custom-weather {
  margin-left: 0px;
  border-right: 0px;
  font-size: 24px;
  margin-right: 20px;
}

#custom-launch_firefox,
#custom-launch_kitty {
  font-size: 20px;
}
